<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weather.mapper.WeatherMapper">
	
	<insert id="insertRegionData">
		/*
			com.example.weather.mapper.WeatherMapper.insertRegionData
			지역 정보 등록
		*/
		INSERT INTO
			REGION_TBL
		(
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
		)
		VALUES 
		(
			#{id}
			, #{regionParent}
			, #{regionChild}
			, #{nx}
			, #{ny}
		)
	</insert>
	
	<select id="selectRegionWeather" parameterType="integer" resultType="com.example.weather.model.RegionWeatherSelectDTO">
		/*
			com.example.weather.mapper.WeatherMapper.selectRegionWeather
			지역 날씨 조회 (단건)
		*/
		SELECT 
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
			, TEMP
			, RAIN_AMOUNT
			, HUM_ID
			, LAST_UPDATE_TIME
		FROM
			REGION_TBL
		WHERE
			ID = #{id}
	</select>
	
	<select id="selectRegionWeatherList" resultType="com.example.weather.model.RegionWeatherSelectDTO">
		/*
			com.example.weather.mapper.WeatherMapper.selectRegionWeatherList
			지역 날씨 정보 목록 조회
		*/
		SELECT 
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
			, TEMP
			, RAIN_AMOUNT
			, HUM_ID
			, LAST_UPDATE_TIME
		FROM
			REGION_TBL
	</select>
	
	<select id="selectSeoulWeatherList" resultType="com.example.weather.model.RegionWeatherSelectDTO">
		/*
			com.example.weather.mapper.WeatherMapper.selectSeoulWeatherList
			서울 지역 날씨 목록 조회
		*/
		SELECT
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
			, TEMP
			, RAIN_AMOUNT
			, HUM_ID
			, LAST_UPDATE_TIME
		FROM
			REGION_TBL
		WHERE
			REGION_PARENT LIKE CONCAT('서울', '%')
	</select>
	
	<select id="selectRegion" parameterType="integer" resultType="com.example.weather.model.RegionWeatherUpdateDTO">
		/*
			com.example.weather.mapper.WeatherMapper.selectRegion
			지역 조회 (단건)
		*/
		SELECT 
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
			, TEMP
			, RAIN_AMOUNT
			, HUM_ID
		FROM
			REGION_TBL
		WHERE
			ID = #{id}
	</select>

	<select id="selectRegionList" resultType="com.example.weather.model.RegionWeatherUpdateDTO">
		/*
			com.example.weather.mapper.WeatherMapper.selectRegionList
			지역 목록 조회
		*/
		SELECT
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
			, TEMP
			, RAIN_AMOUNT
			, HUM_ID
		FROM
			REGION_TBL
	</select>
	
	<select id="selectSeoulList" resultType="com.example.weather.model.RegionWeatherUpdateDTO">
		/*
			com.example.weather.mapper.WeatherMapper.selectSeoulList
			서울 지역 목록 조회
		*/
		SELECT
			ID
			, REGION_PARENT
			, REGION_CHILD
			, NX
			, NY
			, TEMP
			, RAIN_AMOUNT
			, HUM_ID
		FROM
			REGION_TBL
		WHERE
			REGION_PARENT LIKE CONCAT('서울', '%')
	</select>

	<update id="updateWeather">
		/*
			com.example.weather.mapper.WeatherMapper.updateWeather
			날씨 정보 수정
		*/
		UPDATE
			REGION_TBL
		SET
			TEMP = IFNULL(#{temp}, 0.0)
			, RAIN_AMOUNT = IFNULL(#{rainAmount}, 0.0)
			, HUM_ID = IFNULL(#{humid}, 0.0)
			, LAST_UPDATE_TIME = CURRENT_TIMESTAMP(6)
		WHERE
			ID = #{id}
	</update>
	
	<delete id="deleteRegion">
		/*
			com.example.weather.mapper.WeatherMapper.deleteRegion
			지역 정보 단건 삭제
		*/
		DELETE FROM REGION_TBL WHERE ID = #{id}
	</delete>
	
	<delete id="truncateRegion">
		/*
			com.example.weather.mapper.WeatherMapper.truncateRegion
			지역 정보 전체 삭제
		*/
		TRUNCATE TABLE REGION_TBL;
	</delete>
</mapper>